{% extends "_base.html" %}
{% block title %}{{ image.title }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row py-6">
      <h1 class="display-5 fw-bold text-center">{{ image.title|truncatechars:50 }}</h1>
      <hr>
      <div class="col-md-4">
        {% load thumbnail %}
        <a href="{{ image.image.url }}">
            <img src="{% thumbnail image.image 300x0 %}" class="img-fluid">
        </a>
      </div>
      <div class="col-md-8">
        {% with total_likes=image.users_like.count users_like=image.users_like.all %}
          <div class="image-info">
            <div class="pb-5">
              <button class="btn btn-outline-secondary fw-bold border-3">
                {{ total_likes }} like{{ total_likes|pluralize }}
              </button>
              <button class="btn btn-outline-primary fw-bold border-3">
                {{ total_views }} view{{ total_views|pluralize }}
              </button>
              <a href="#" class="like btn {% if request.user in users_like %}btn-danger{% else %}btn-outline-success{% endif %} fw-bold border-3" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}Un{% endif %}like">
                {% if request.user not in users_like %}
                  Like
                {% else %}
                  Unlike
                {% endif %}
              </a>
            </div>
            <p class="lead fw-bold">Description</p>
            <hr>
            {{ image.description|linebreaks }}
          </div>
          <div class="image-likes">
            <p class="lead fw-bold">Users who liked this image</p>
            <hr>
            {% for user in image.users_like.all %}
              <div class="d-flex align-items-center">
                {% if user.profile.photo %}
                  <img src="{{ user.profile.photo.url }}" class="rounded-circle c-img-user me-3">
                {% endif %}
                <p>{{ user.first_name }}</p>
              </div>
            {% empty %}
              Nobody likes this image yet.
            {% endfor %}
          </div>
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}

{% block domready %}
  const url = '{% url "images:like" %}';
  var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like')
          .addEventListener('click', function(e){
    e.preventDefault();
    var likeButton = this;

    // add request body
    var formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;

    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
      if (data['status'] === 'ok')
      {
        var previousAction = likeButton.dataset.action;

        // toggle button text and data-action
        var action = previousAction === 'like' ? 'unlike' : 'like';
        likeButton.dataset.action = action;
        likeButton.innerHTML = action;

        // update like count
        var likeCount = document.querySelector('span.count .total');
        var totalLikes = parseInt(likeCount.innerHTML);
        likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
      }
    })
  });
{% endblock %}