{% extends "_base.html" %}
{% block title %}{{ image.title }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row py-6">
      <h1 class="display-5 fw-bold text-center">{{ image.title }}</h1>
      <hr>
      <div class="col-md-6">
        {% load thumbnail %}
        <a href="{{ image.image.url }}">
            <img src="{% thumbnail image.image 300x0 %}" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        {% with total_likes=image.users_like.count %}
          <div class="image-info">
            <div class="pb-5">
              <button class="btn btn-outline-secondary fw-bold border-3">
                {{ total_likes }} like{{ total_likes|pluralize }}
              </button>
            </div>
            {{ image.description|linebreaks }}
          </div>
          <div class="image-likes">
            {% for user in image.users_like.all %}
              <div>
                {% if user.profile.photo %}
                  <img src="{{ user.profile.photo.url }}">
                {% endif %}
                <p>{{ user.first_name }}</p>
              </div>
            {% empty %}
              Nobody likes this image yet.
            {% endfor %}
          </div>
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}