{% extends "_base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
  <div class="container py-6">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <h1 class="display-5 fw-bold">Log-in</h1>
        <hr>
        {% if form.errors %}
          <p>
            Your username and password didn't match.
            Please try again.
          </p>
        {% else %}
          <p>Please, use the following form to log-in.
            If you don't have an account <a class="text-primary" href="{% url 'register' %}">register here</a>.
          </p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <input type="text" class="form-control bg-light" name="{{ form.username.name }}" placeholder="Username">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control bg-light" name="{{ form.password.name }}" placeholder="Password">
          </div>
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="d-grid gap-2">
            <input type="submit" value="Log-in" class="btn btn-success text-white">
          </div>
        </form>

        <!-- Google Login Button -->
        <div class="d-grid gap-2 mt-3">
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-primary w-100">
            <i class="fa-brands fa-google me-2"></i>
            Log in with Google
          </a>
        </div>

        <p class="mt-4">
          <a href="{% url 'password_reset' %}" class="text-primary">
            Forgotten your password?
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
